<div class="row">
  <%= form_tag decisions_path, :method => :get, :class => 'span6 offset2' do %>
    <div class="input-append">
      <%= text_field :search, :query, :value => params[:search][:query], :class => "span6" %>
      <button type="submit" class="btn">Search</button>
      <button type="reset" class="btn">Clear</button>
    </div><br />
    <a href="#advanced_search" class="advanced_search_link">More Search Options</a>
    <fieldset id="advanced_search">
      <label class="checkbox inline">
        <%= radio_button :search, :reported, "all", checked: true %> All
      </label>
      <label class="checkbox inline">
        <%= radio_button :search, :reported, "true" %> Reported
      </label>
      <label class="checkbox inline">
        <%= radio_button :search, :reported, "false" %> Unreported
      </label>
      <div id="search_reported_only">
        <label>Country</label>
        <%= select :search, :country, options_for_select([[]] + Decision.country_list) %>
        <label class="checkbox">
          <%= check_box :search, :country_guideline, :value => params[:search][:country_guideline] %>
          Country Guidance?
        </label>
        <label>Judge</label>
        <%= select :search, :judge, options_for_select([[]] + Decision.judges_list) %>
        <label>Claimant name</label>
        <%= text_field :search, :claimant, :value => params[:search][:claimant] %>
      </div>
      <%= submit_tag "Search", :class => "btn" %>
      <%= button_tag "Clear", :class => "btn", :type => 'reset' %>
    </fieldset>
  <% end %>
</div>
<%= page_entries_info @decisions %>
<%= will_paginate @decisions %>
<table class="table">
  <tr>
    <th>Appeal Number</th>
    <th>Reported?</th>
    <th>Promulgation date</th>
    <th>Claimant</th>
    <th>Case title</th>
    <th>Country</th>
    <% if params[:search][:query].present? %>
      <th>Search result</th>
    <% end %>
  </tr>
  <% @decisions.each do |decision| %>
  <tr>
    <td><%= link_to decision.appeal_number || "Unknown" , decision_path(decision) %></td>
    <td><%= reported_label(decision.reported?) %>
    <td><%= decision.promulgated_on %></td>
    <td><%= decision.claimant %></td>
    <td><%= decision.case_name %></td>
    <td><%= decision.country %></td>
    <% if params[:search][:query].present? %>
      <td><%= hilighted_search_result(params[:search][:query], decision.text) %></td>
    <% end %>

  </tr>
  <% end %>
</table>
<%= will_paginate @decisions %>
<script>
  $(document).ready(function() {
    $('input:radio').change(function(e) {
      $('#search_reported_only').toggle(!$('#search_reported_false').is(':checked'));
    });
  });
</script>
