<%= form_tag decisions_path, :method => :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<%= page_entries_info @decisions %>
<%= will_paginate @decisions %>
<table>
  <% @decisions.each do |decision| %>
  <tr>
    <td><%= link_to decision.appeal_number || "Unknown" , decision_path(decision) %></td>
    <td><%= decision.promulgated_on %></td>
  </tr>
  <% end %>
</table>