<%= form_tag decisions_path, :method => :get do %>
  <%= text_field :search, :query, :value => params[:search][:query], :class => "search-query" %>
  <fieldset class="advanced_search">
    <label class="checkbox inline">
      <%= radio_button :search, :reported, "all" %> All
    </label>
    <label class="checkbox inline">
      <%= radio_button :search, :reported, "true" %> Reported
    </label>
    <label class="checkbox inline">
      <%= radio_button :search, :reported, "false" %> Unreported
    </label>
    <label>Country</label>
    <%= select :search, :country, options_for_select([[]] + Decision.country_list) %>
    <label class="checkbox">
      <%= check_box :search, :country_guideline, :value => params[:search][:country_guideline] %>
      Country Guidance?
    </label>
    <label>Judge</label>
    <%= select :search, :judge, options_for_select([[]] + Decision.judges_list) %>
    <label>Claiment name</label>
    <%= text_field :search, :claiment, :value => params[:search][:claiment] %>
  </fieldset>
  <%= submit_tag "Search", :class => "btn" %>
<% end %>
<%= page_entries_info @decisions %>
<%= will_paginate @decisions %>
<table class="table">
  <tr>
    <th>Appeal Number</th>
    <th>Reported?</th>
    <th>Promulgation date</th>
    <th>Claiment</th>
    <th>Country</th>
  </tr>
  <% @decisions.each do |decision| %>
  <tr>
    <td><%= link_to decision.appeal_number || "Unknown" , decision_path(decision) %></td>
    <td><%= decision.reported? %>
    <td><%= decision.promulgated_on %></td>
    <td><%= decision.claiments %></td>
    <td><%= decision.country %></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @decisions %>
