<h1>Decision promulgated on <%= @decision.promulgated_on %></h1>

<%= link_to "PDF version", @decision.pdf_file.url %>
<%= link_to "Word Document version", @decision.doc_file.url %>

  <% [:promulgated_on, :appeal_number, :reportable, :starred, :panel, :country_guideline, :judges, :categories, :country, :claiments, :keywords, :case_notes].each do |field| %>
    <% if @decision.send(field).present? %>
      <p><%= field.to_s.humanize %>: <%= @decision.send(field).to_s %></p>
    <% end %>
  <% end %>

<% if @decision.html.blank? %>
  <h2>An HTML version of this decision is not currently available.</h2>
<% else %>
  <h2>Determination</h2>
  <%= @decision.html_body.html_safe %>
<% end %>