<h1>Decision promulgated on <%= @decision.promulgated_on %></h1>

<%= link_to "PDF version", decision_path(@decision, format: :pdf) %>
<%= link_to "Word Document version", decision_path(@decision, format: :doc) %>

  <% [:case_name, :promulgated_on, :appeal_number, :reported, :starred, :panel, :country_guideline, :judges, :categories, :country, :claimant, :keywords, :case_notes].each do |field| %>
    <% if @decision.send(field).present? %>
      <p><%= field.to_s.humanize %>:
	      <% if @decision.send(field) == true %>
	      	Yes
	      <% elsif @decision.send(field) == false %>
	      	No
	      <% else %>
		    	<%= @decision.send(field).to_s %>
	      <% end %>
      </p>
	  <% end %>
  <% end %>

<% if @decision.html.blank? %>
  <h2>An HTML version of this decision is not currently available.</h2>
<% else %>
  <h2>Determination</h2>
  <%= @decision.html_body.html_safe %>
<% end %>
