#global-breadcrumb.header-context
  %nav{:role => "navigation"}
    %ol.group
      %li
        %a{:href => "/"} Home
%div{:vocab => "http://schema.org", :typeof => "CreativeWork"}
  %header.page-header.group
    %h1= @decision.link_label
    %dl.decision-details
  
      %dt Case title:
      %dd{:property => "name"}= case_title(@decision)
      %dt Appellant name:
      %dd= @decision.claimant
      %dt Status of case:
      %dd
        - if @decision.reported == true
          Reported
        - else
          Unreported
      %dt Hearing date:
      %dd= schema_time_element(@decision.hearing_on)
      %dt Promulgation date:
      %dd= schema_time_element(@decision.promulgated_on)
      %dt Publication date:
      %dd= schema_time_element(@decision.published_on)
      %dt Last updated on:
      %dd= schema_time_element(@decision.updated_at.to_date)
      %dt Country:
      %dd= @decision.country
      - if @decision.country_guideline.present?
        %dt Country guidance:
        %dd
          - if @decision.country_guideline == true
            Yes
          - else
            No
      %dt Judges:
      %dd= judge_list(@decision.judges)
      - if @decision.categories.present?
        %dt Categories:
        %dd
          = @decision.categories.join(', ')
      - if @decision.case_notes.present?
        %dt Case Notes:
        %dd
          = @decision.case_notes
      - if @decision.keywords.present?
        %dt Keywords
        %dd{:property => "keywords"}
          = @decision.keywords.join(', ')
  
  .download-links
    %ul
      %li= link_to "Download a PDF version of the decision", @decision.pdf_file.url, class: 'pdf-file'
      %li= link_to "Download a Word document (.doc) version of the decision", @decision.doc_file.url, class: 'doc-file'
  
  - if @decision.html.blank?
    %h2 An HTML version of this decision is not currently available.
  - else
    .decision
      %h2 The decision
      .decision-inner
        = @decision.html.html_safe
