%header.page-header.group
  %h1
    %span Information
    Administrative appeals decisions
  %p
    Search for judges' decisions on appeals to the Administrative Appeals Chamber.
= form_tag aac_decisions_path, :method => :get, :class => 'search_form' do
  .input-append
    %label{:for => "search_query"} Enter a reference number, party name, judge name or keyword
    = text_field :search, :query, :value => params[:search][:query], :placeholder => "eg 2013 UKUT 445 AAC or Judge Wright"
    = button_tag "Clear", :class => "button", :type => "reset"
    %button.button.primary{:type => "submit"} Search

  .pagination-row
    .page-entries
      = page_entries_info @aac_decisions
    = will_paginate @aac_decisions

  .main.cf
    .advanced-search
      %fieldset#advanced_search
        %h2 Filter the results
        %h3
          %label Judge
        = select :search, :judge, options_for_select([[]] + Judge.list, params[:search][:judge])
        -# TODO: Make categories and subcategories lists dependent on each other
        %h3
          %label Category
        = select :search, :category, options_for_select([[]] + AacDecisionCategory.list, params[:search][:category])
        %h3
          %label Sub-category
        = select :search, :subcategory, options_for_select([[]] + AacDecisionSubcategory.list, params[:search][:subcategory])
        .buttons
          = button_tag "Clear", :class => "button left", :type => "reset"
          = submit_tag "Search", :class => "button right primary"
    .decisions
      .sort-filter
        Sort by <select><option>Date added</option><option>Date of decision</option></select>
      %table.decisions-table
        %tr.headings
          %th Reference number
          %th Date added
        - @aac_decisions.each do |decision, group = cycle('even', 'odd')|
          %tr.first{:class => group}
            %td
              = link_to link_label(decision), aac_decision_path(decision)
              %p 
                Category: 
                = "#{category_name(decision)} / #{subcategory_name(decision)}"
              %p 
                Parties:
                = display_parties(decision)
            %td.date= time_element(decision.created_datetime)
          - if search_present()
            %tr.last{:class => group}
              %td{:colspan => 4}
                %strong Search result:
                = hilighted_search_result(params[:search][:query], decision.text)

  .pagination-row.bottom
    .page-entries
      = page_entries_info @aac_decisions
    = will_paginate @aac_decisions

