#global-breadcrumb.header-context
  %nav{:role => "navigation"}
    %ol.group
      %li
        %a{:href => "/"} Home
%div{:vocab => "http://schema.org", :typeof => "CreativeWork"}
  %header.page-header.group
    %h1= "Neutral Citation Number #{display_ncn(@aac_decision)}"
    %ul.decision-details
      %li
        %span.label File No.:
        %span= @aac_decision.file_number
      %li
        %span.label Reported number:
        %span= @aac_decision.reported_number
      %li
        %span.label Judges:
        %span= judge_names(@aac_decision)
      %li
        %span.label Appellant name:
        %span= @aac_decision.claimant
      %li
        %span.label Respondent name:
        %span= @aac_decision.respondent
      %li
        %span.label Date of decision:
        %span= schema_time_element(@aac_decision.decision_date)
      %li
        %span.label Date added:
        %span= schema_time_element(@aac_decision.created_datetime)
      %li
        %span.label Date updated:
        %span= schema_time_element(@aac_decision.last_updatedtime)
      %li
        %span.label Category:
        %span= category_name(@aac_decision)
      %li
        %span.label Sub-category:
        %span= subcategory_name(@aac_decision)
      %li
        %span.label Notes:
        %span{:class => "notes"}= @aac_decision.notes
  
  .download-links
    %ul
      %li= link_to "Download a PDF version of the decision", @aac_decision.pdf_file.url, class: 'pdf-file'
      %li= link_to "Download a Word document (.doc) version of the decision", @aac_decision.doc_file.url, class: 'doc-file'
  
  - if @aac_decision.html.blank?
    %h2 An HTML version of this decision is not currently available.
  - else
    .decision
      %h2 The decision
      .decision-inner
        = @aac_decision.html.html_safe
