%header
  %h1 Add decision
= form_for [:admin, @decision] do |form|
  .row
    - if @decision.errors.any?
      #error_explanation.validation-summary
        %h2
          = pluralize(@decision.errors.count, 'error')
          prohibited this decision from being saved.
        %ol
          - @decision.errors.full_messages.each do |msg|
            %li
              = msg
  .row
    = form.label :doc_file
    = form.file_field :doc_file
  .row
    = form.label :promulgated_on
    = form.date_select :promulgated_on, start_year: 2003, end_year: Date.today.year + 1
  .row
    = form.label :hearing_on
    = form.date_select :hearing_on, start_year: 2003, end_year: Date.today.year + 1
  .row.appeal
    = form.label :appeal_number
    = form.text_field :appeal_number
  .row.ncn
    = form.label :ncn
    = form.text_field :ncn
  .row
    = form.label :reported
    = form.check_box :reported
  .row
    = form.label :starred
    = form.check_box :starred
  .row
    = form.label :panel
    = form.check_box :panel
  .row
    = form.label :anonymised
    = form.check_box :anonymised
  .row
    = form.label :country_guideline
    = form.check_box :country_guideline
  .row.array.judges
    = form.label :judges
    .wrapper
      = form.text_field :judges
  .row.array.categories
    = form.label :categories
    .wrapper
      = form.text_field :categories
  .row
    = form.label :country
    = form.text_field :country
  .row
    = form.label :claimant
    = form.text_field :claimant
  .row.array.keywords
    = form.label :keywords
    .wrapper
      = form.text_field :keywords
  .row
    = form.label :case_notes
    = form.text_area :case_notes
  .row
    = form.submit :class => 'button primary'
