%div{:vocab => "http://schema.org", :typeof => "CreativeWork"}
  %header.page-header.group
    %h1= @decision.link_label
    = link_to('Edit this decision', edit_admin_decision_path(@decision), :class => 'button')
    = link_to('Delete this decision', admin_decision_path(@decision), method: :delete, confirm: "Are you sure you'd like to remove this decision from the system?", class: 'button button-warning')
    %ul.decision-details
      %li
        %span.label Case title:
        %span.value{:property => "name"}= case_title(@decision)
      %li
        %span.label Appellant name:
        %span.value= @decision.claimant
      %li
        %span.label Status of case:
        %span.value
          - if @decision.reported
            Reported
          - else
            Unreported
      %li
        %span.label Hearing date:
        %span.value= schema_time_element(@decision.hearing_on)
      %li
        %span.label Promulgation date:
        %span.value= schema_time_element(@decision.promulgated_on)
      %li
        %span.label Publication date:
        %span.value= schema_time_element(@decision.published_on)
      %li
        %span.label Last updated on:
        %span.value= schema_time_element(@decision.updated_at)
      %li
        %span.label Country:
        %span.value= @decision.country
      - if @decision.country_guideline.present?
        %li
          %span.label Country guidance:
          %span.value
            - if @decision.country_guideline
              Yes
            - else
              No
      %li
        %span.label Judges:
        %span.value= judge_list(@decision.judges)
      - if @decision.categories.present?
        %li
          %span.label Categories:
          %span.value= @decision.categories.join(', ')
      - if @decision.case_notes.present?
        %li
          %span.label Case Notes:
          %span.value= @decision.case_notes
      - if @decision.keywords.present?
        %li
          %span.label Keywords
          %span.value{:property => "keywords"}= @decision.keywords.join(', ')

  
  .download-links
    %ul
      %li= link_to "Download a PDF version of the decision", @decision.pdf_file.url
      %li= link_to "Download a Word document (.doc) version of the decision", @decision.doc_file.url
  
  - if @decision.html.blank?
    %h2 An HTML version of this decision is not currently available.
  - else
    .decision
      %h2 The decision
      .decision-inner
        = @decision.html.html_safe
