!!!
%html
  %head
    = render "shared/head"
    = stylesheet_link_tag "admin", :media => "all"

  %body
    
    = render "shared/header"

    #wrapper.group.admin
      .indicator.cf
        .left
          %p
            %strong Administrator view:
            select a case to edit its details
        .right
          %p
            = link_to 'Admin home', admin_decisions_path
            |
            =link_to 'Log out', logout_admin_authentication_path
      %section#content.group{:role => "main"}
        .full-width-group
          = yield

    = render "shared/footer"

    = render "shared/script"
