!!!
%html
  %head
    = render "shared/head"
    = stylesheet_link_tag "admin", :media => "all"

  %body
    
    = render "shared/header"

    #wrapper.group{:class => authenticated? ? 'admin' : 'beta'}
      - if authenticated?
        .indicator.cf
          .left
            %p
              %strong Administrator view:
              select a case to edit its details
          .right
            %p
              = link_to 'Admin home', admin_decisions_path
              |
              = link_to 'Upload decision', new_admin_decision_path
              |
              =link_to 'Log out', logout_admin_authentication_path
      - else
        .indicator.cf
          %p
            %strong Beta:
            This is a new service - your feedback will help us to improve it

      %section#content.group{:role => "main"}
        .full-width-group
          = yield

    = render "shared/footer"

    = render "shared/script"
