!!!
%html
  %head
    = render "shared/head"
    = render "shared/ga"

  %body.beta
    
    = render "shared/header"

    #wrapper.group.information
      .indicator.cf
        %p
          %strong Beta:
          This is a new service - your feedback will help us to improve it
      %section#content.group{:role => "main"}
        .full-width-group
          = yield

    = render "shared/footer"

    = render "shared/script"
